.loader {
  stroke-dasharray: 30, 221;
  stroke-dashoffset: 63;
  animation: dash 1.5s ease-in-out infinite, color 1.5s linear infinite;
  stroke-linecap: round;
}

@keyframes dash {
  0% {
    stroke-dasharray: 0, 251;
    stroke-dashoffset: 63;
  }
  30% {
    stroke-dasharray: 126, 126;
    stroke-dashoffset: 63;
  }
  50% {
    stroke-dasharray: 126, 126;
    stroke-dashoffset: 0;
  }
  75% {
    stroke-dasharray: 251, 0;
    stroke-dashoffset: 63;
  }
  100% {
    stroke-dasharray: 0, 251;
    stroke-dashoffset: -188;
  }
}

@keyframes color {
  0% {
    stroke: rgba(0, 0, 0, 0.2);
  }
  50% {
    stroke: rgba(0, 0, 0, 0.3);
  }
  100% {
    stroke: rgba(0, 0, 0, 0.8);
  }
}

.inputLabel {
  font-size: 30px;
  margin-left: 10px;
}

.input {
  font-size: 20px;
  display: block;
  margin: 10px;
  width: calc(100% - 40px);
  border-radius: 10px;
  padding: 10px;
}

.button {
  width: calc(100% - 20px);
  cursor: pointer;
  font-size: 25px;
  margin: 10px;
  padding: 10px;
  border-radius: 30px;
}

.menuIcon {
  color: rgba(0, 0, 0, 0.7);
  border: 2px solid rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.3);
  position: absolute;
  right: 30px;
  bottom: 30px;
  cursor: pointer;
  display: grid;
  place-items: center;
  font-size: 30px;
  background-color: white;
  padding: 10px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.menuIcon:hover {
  border: 2px solid rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.5);
}

.menuButton {
  cursor: pointer;
  font-size: 20px;
  padding: 5px;
  background-color: white;
  border: none;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.menuContainer {
  display: flex;
  flex-direction: column;
  width: 200px;
  bottom: 114px;
  right: 30px;
  position: absolute;
  transition: opacity linear 250ms;
}

.form {
  min-width: 400px;
}
