body {
  font-family: sans-serif;
  margin: 0;
}

.ReactVirtualized__List:focus,
button:focus,
input:focus,
textarea:focus {
  outline: none;
}

.ReactVirtualized__Grid__innerScrollContainer {
  max-width: 600px !important;
  margin: 0 auto;
}